[Desktop Entry]
Type=Application
Name=Snake Game
Name[es]=Juego de la Serpiente
Name[ja]=スネークゲーム
Name[pt]=Jogo da Cobrinha
Name[ru]=Змейка
Name[zh_CN]=贪吃蛇
Name[zh_HK]=貪吃蛇
Name[zh_TW]=貪吃蛇
Comment=Snake Game
Comment[es]=Juego de la Serpiente
Comment[ja]=スネークゲーム
Comment[pt]=Jogo da Cobrinha
Comment[ru]=Змейка
Comment[zh_CN]=贪吃蛇
Comment[zh_HK]=貪吃蛇
Comment[zh_TW]=貪吃蛇
Exec=snake-game-bevy
Icon=snake-game
Terminal=false
Categories=Game;
Keywords=game;snake;snake-game;snake-game-bevy;
Keywords[es]=juego;serpiente;juego-de-la-serpiente;juego-de-la-serpiente-bevy;
Keywords[ja]=ゲーム;スネーク;スネークゲーム;スネークゲーム-bevy;
Keywords[pt]=jogo;cobra;jogo-da-cobrinha;jogo-da-cobrinha-bevy;
Keywords[ru]=игра;змейка;змейка-bevy;
Keywords[zh_CN]=游戏;贪吃蛇;贪吃蛇-bevy;
Keywords[zh_HK]=遊戲;貪吃蛇;貪吃蛇-bevy;
Keywords[zh_TW]=遊戲;貪吃蛇;貪吃蛇-bevy;
